@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
body{font-family: 'Source Sans Pro', sans-serif;}		

.topmenu{
			position: relative;
			z-index: 999;
			width:90%;box-shadow: 0 0 5px rgba(0,0,0,.3);
			font-size: 0;
			line-height: 0;
			text-align: right;
			height:50px; 
			margin:auto;
			padding:0px;
			text-align:right;
            margin-bottom: 15px;
}

.topmenu li{
			position:relative;
			display: inline-block;
			float: left;
			font-size: 16px;
			line-height: 50px;
			text-align: left;
			font-weight: 400; 
			padding:0px;
			overflow:hidden;


}	
.topmenu li a{
			text-decoration: none;
			height:50px;
			display:block;
			padding:0px 15px;
}

.topmenu li:first-child i{
			font-size:25px; 
			vertical-align:middle; 
			line-height:50px; 
			color:#8697a8; 
			margin:0}
.topmenu li i{
			vertical-align:middle; 
			line-height:50px; 
			margin-left:10px;}
.topmenu li:last-child {
			float:left }

.btn{
			overflow:hidden;
			-webkit-transition	: all 0.3s;
			-moz-transition	: all 0.3s;
			-o-transition	: all 0.3s;
}

.btn a span{
			position:relative;
			display:inline-block;
			-webkit-transition:all 0.3s;
			-moz-transition:all 0.3s;
			-o-transition:all 0.3s;
}

.btn:hover span {

			-webkit-transform: translateY(-111px);
			-moz-transform: translateY(-111px);
			-o-transform: translateY(-111px);
			transform: translateY(-111px);
}
.btn span div{
			margin-top:60px;
			text-align:center;
			font-size:26px;
			line-height:50px;
			vertical-align:middle;
			height:50px
}

.topmenu li a i {
			display:inline-block;
			-webkit-transition:all 0.3s;
			-moz-transition:all 0.3s;
			-o-transition:all 0.3s;
}



/* Landscape phone to portrait tablet */
@media screen and (min-width: 481px) and (max-width: 766px)
{ 
.topmenu{
			width:95%;
            margin-bottom: 15px;}
.topmenu li{
			font-size: 13px;}	
.btn span div{
			font-size:20px;}

}

/* Landscape phones and down */
@media screen and (min-width: 0px) and (max-width: 480px)
{ 
.topmenu{
			width:100%;
            margin-bottom: 125px;}
.topmenu li{
			display:block;
			font-size: 16px;
			width:100%;				
}	
.topmenu li:last-child {
			border:none;}
.btn span div{
			text-align:left;}
}







