@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
body{font-family: 'Source Sans Pro', sans-serif;}		

.topmenu{
			position: relative;
			z-index: 999;
			background: #5d5d5d;
			width:90%;box-shadow: 0 0 20px rgba(0,0,0,.3);
			font-size: 0;
			line-height: 0;
			text-align: right;
			height:50px; 
			margin:auto;
			padding:0px;			
}
					
.topmenu li{
			position:relative;
			display: inline-block;
			float: left;
			font-size: 16px;
			line-height: 50px;
			text-align: left;
			font-weight: 400; 
			padding:0px;
			overflow:hidden;
					
					
}	
.topmenu li a{
			text-decoration: none;
			color: #efefef;
			height:50px;
			display:block;
			padding:0px 20px;
}
.topmenu li a:hover{
			background:#8697a8; 
			color:#515151}
				
.topmenu li a:hover > i{
			color:#515151;}

.topmenu li:first-child i{
			font-size:25px; 
			vertical-align:middle; 
			line-height:50px; 
			color:#8697a8; 
			margin:0}
							
.topmenu li i{
			vertical-align:middle; 
			line-height:50px; 
			margin-left:10px;}
					
.topmenu li.last {
			float:left}
.btn{
			overflow:hidden;
			-webkit-transition	: all 0.3s;
			-moz-transition	: all 0.3s;
			-o-transition	: all 0.3s;
		}
		
.btn a span{
			position:relative;
			display:inline-block;
			-webkit-transition:all 0.3s;
			-moz-transition:all 0.3s;
			-o-transition:all 0.3s;
}

.btn:hover span {
			top:-111px;
}
.btn span div{
			margin-top:60px;
			text-align:center;
			font-size:26px;
			line-height:50px;
			vertical-align:middle;
			height:50px
}

.topmenu li a i {
			display:inline-block;
			-webkit-transition:all 0.3s;
			-moz-transition:all 0.3s;
			-o-transition:all 0.3s;
}


