.topmenu  ,.topmenu li{background: #a08967;}
.topmenu li a:hover{ background:#ddd0bd;}
.topmenu li a:hover, .topmenu li a:hover > i{ color:#a08967}
.topmenu li a{color: #ffffff;}
@media screen and (min-width: 0px) and (max-width: 480px)
{ 
.topmenu li{border-bottom:1px solid #ddd0bd}
}

