.topmenu,.topmenu li{background: #3366cc;}
.topmenu li a:hover{ background:#74a2fe;}
.topmenu li a:hover, .topmenu li a:hover > i{ color:#3366cc}
.topmenu li a{color: #ffffff;}
@media screen and (min-width: 0px) and (max-width: 480px)
{ 
.topmenu li{border-bottom:1px solid #74a2fe}
}
