.topmenu, .topmenu li{background: #709c32;}
.topmenu li a:hover{ background:#abcd7a;}
.topmenu li a:hover, .topmenu li a:hover > i{ color:#709c32}
.topmenu li a{color: #ffffff;}
@media screen and (min-width: 0px) and (max-width: 480px)
{ 
.topmenu li{border-bottom:1px solid #abcd7a}
}

