.topmenu,.topmenu li{background: #5d5d5d;}
.topmenu li a:hover{ background:#c5c5c5;}
.topmenu li a:hover, .topmenu li a:hover > i{ color:#5d5d5d}
.topmenu li a{color: #ffffff;}
.topmenu .active {
    background:#c5c5c5;
}
@media screen and (min-width: 0px) and (max-width: 480px)
{ 
.topmenu li{border-bottom:1px solid #c5c5c5}
}
