.topmenu, .topmenu li{background: #d31f69;}
.topmenu li a:hover{ background:#fb70aa;}
.topmenu li a:hover, .topmenu li a:hover > i{ color:#d31f69}
.topmenu li a{color: #ffffff;}
@media screen and (min-width: 0px) and (max-width: 480px)
{ 
.topmenu li{border-bottom:1px solid #fb70aa}
}

