.topmenu, .topmenu li{background: #d90202;}
.topmenu li a:hover{ background:#f96363;}
.topmenu li a:hover, .topmenu li a:hover > i{ color:#d90202}
.topmenu li a{color: #ffffff;}
@media screen and (min-width: 0px) and (max-width: 480px)
{ 
.topmenu li{border-bottom:1px solid #f96363}
}

