.topmenu, .topmenu li{background: #fed032;}
.topmenu li a:hover{ background:#fff3a1;}
.topmenu li a:hover, .topmenu li a:hover > i{ color:#fed032}
.topmenu li a{color: #ffffff;}
@media screen and (min-width: 0px) and (max-width: 480px)
{ 
.topmenu li{border-bottom:1px solid #fff3a1}
}

