
.login div#content {
    width: 360px;
}

.main div#content {
    width: 880px;
}

.top-menu .row{
	min-width: 935px;
}

.bottom-actions button{
	float: left;
}

.bottom-actions button.right{
	float: right;
}

#newfolder{
	width: 50%;
	height: 27px;
}
